<div class="text-center">
<h2 class="my-3 ">{{p1}}</h2>
<p class="my-3" [innerHtml]='p2'></p>
</div>
<div class="container">
    <div class='row'>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img1}}' class="w-100">
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img2}}' class="w-100">
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img3}}' class="w-100">
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img4}}' class="w-100">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img5}}' class="w-100" height = '180px'>
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img6}}' class="w-100" height="180px">
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img7}}' class="w-100" height="180px">
        </div>
        <div class="col-lg-3 col-md-3 p-0">
            <img src='{{img8}}' class="w-100" height="180px">
        </div>
    </div>
</div>